.db
.dockerignore
.DS_Store
.DS_Store
.editorconfig
.env*
.eslint*
.git*
.gitignore
.pnp.js
.pnpm-debug.log*
.prettierrc
.vercel
*.pem
*.tsbuildinfo
*.yml
*~
/.next
/.pnp
/build
/coverage
/node_modules
/out
COPYING
Dockerfile
next-env.d.ts
npm-debug.log*
README.md
yarn-debug.log*
yarn-error.log*